{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
	<!-- Navigation -->
	<section id="navigation">
		<!-- Navigation Container -->
		<!-- Site Logo -->
		<a href="/" class="site-logo" id="logo">
			<img src="{% static 'images/logo.png' %}" style="position: fixed; left: 50px; top: 4px; width: 65px; height: 65px;" alt="">
		</a>

		<a href="/media/{{ catalog.file }}" target="_blank" id="catalog" class="button" style="position: fixed;left: 130px;top: 20px;text-align:center;">{% trans "دانلود کاتالوگ" %}</a>

		<div class="nav-container">

			<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

			<!-- Navigation Menu -->
			<div class="nav-menu">
				<ul class="nav">
					<li><a href="/{{ SELECTEDLANG }}/#home" class="link">{% trans "خانه" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#about" class="link">{% trans "درباره ما" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#services" class="link">{% trans "خدمات" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#products" class="link">{% trans "محصولات" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#FAQ" class="link">{% trans "سؤالات متداول" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#articles" class="link">{% trans "مقالات" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#gallery" class="link">{% trans "گالری" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#dealerships" class="link">{% trans "نمایندگی ها" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#team" class="link">{% trans "اعضای تیم" %}</a></li>
					<li><a href="/{{ SELECTEDLANG }}/#map" class="link">{% trans "تماس با ما " %}</a></li>
				</ul>
			</div><!-- end nav menu -->
			<ul id="lang-menu">
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
					<li>
						<a href="/{{ language.code }}" style="font-family: 'Lato', sans-serif;">
							{{ language.code }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div><!-- end nav container -->
	</section><!-- end navigation section -->

<section class="container sub-page">

<!-- Begin Sidebar -->
<div class="five columns offset-by-one sidebar left-align" id="sidebar">

	<!-- Blog Categories -->
	<section class="sidebar-content">
		<h4>{% trans 'لیست مقالات' %}</h4>
		<div class="sidebar-menu">
			{% for item in articles %}
				<div class="accordion-button"><i class="fa fa-arrow-circle-o-right fa-lg"></i>
					<a href="/{{ SELECTEDLANG }}/articles/{{ item.id }}">
						{{ item.title }}
					</a>
				</div>
			{% endfor %}
		</div>
	</section><!-- end blog categories -->

</div><!-- end sidebar -->

<!-- Begin Main Content -->
<div class="eleven columns main-content">

	<article class="blog-post animated left-align" data-animate="fadeIn" data-animate-delay="400" style="text-align: justify;">
		<a href="#" class="post-img">
			<img src="/media/{{ article.image }}" alt="" class="scale-with-grid">
		</a><!-- end post image -->
		<div id="pro-title">
			<a href="#" class="post-title">{{ article.title }}</a>
		</div>
		{% autoescape off %}
		<p>{{ article.text }}</p>
		{% endautoescape %}

		<p style="color: #6c6c6c;">
			<i class="fa fa-link"></i> {% trans 'منبع' %}: <a href="#">{{ article.link }}</a>
		</p><!-- end post meta -->
	</article><!-- end post -->

</div><!-- end main column -->

</section><!-- end page container -->

    <section id="footer-bottom" class="section">
        <div class="container">
            <a href="#" class="scroll button-to-top">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            <h2>{% trans 'GOWARAB' %}</h2>
            <p style="text-align:center;"><span class="color" style="font-family:'Segoeui', 'Lato', sans-serif;color: #add92d;">
                 2017 &copy; All rights reserved </span></p>
        </div><!-- end container -->
    </section><!-- end footer bottom section -->

{% endblock %}