{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
	<!-- Navigation -->
	<section id="navigation" class="hide-nav">
		<!-- Navigation Container -->
		<!-- Site Logo -->
		<a href="#home" class="site-logo scroll hide-nav" id="logo">
			<img src="{% static 'images/logo.png' %}" style="position: relative; left: 50px; top: 4px; width: 65px; height: 65px;" alt="">
		</a>

		<a href="#about" id="catalog" class="button scroll" style="position: relative; left: 70px;top: 20px;text-align:center;">{% trans "دانلود کاتالوگ" %}</a>

		<div class="nav-container">

			<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

			<!-- Navigation Menu -->
			<div class="nav-menu">
				<ul class="nav">
					<li><a href="#home" class="scroll link">{% trans "خانه" %}</a></li>
					<li><a href="#about" class="scroll link">{% trans "درباره ما" %}</a></li>
					<li><a href="#products" class="scroll link">{% trans "محصولات" %}</a></li>
					<li><a href="#FAQ" class="scroll link">{% trans "سؤالات متداول" %}</a></li>
					<li><a href="#gallery" class="scroll link">{% trans "گالری" %}</a></li>
					<li><a href="#team" class="scroll link">{% trans "اعضای تیم" %}</a></li>
					<li>
						<a href="#map" class="scroll link">{% trans "تماس با ما " %}</a>
						<!--<ul>
							<li><i class="fa fa-chevron-down"></i><a href="blog-main.html">Blog Main</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
						</ul>-->
					</li><!-- end drop down -->
				</ul>
			</div><!-- end nav menu -->
			<ul id="lang-menu">
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
					<li>
						<a href="/{{ language.code }}" style="font-family: 'Lato', sans-serif;">
							{{ language.code }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div><!-- end nav container -->
	</section><!-- end navigation section -->


	<!-- Home Section -->
	<section id="home" style="height:100%;">
		<div id="slides" style="width: 100%;">

			<div class="slides-container">
				<div class="slide-2"></div>
				<div class="slide-3"></div>
				<div class="slide-1"></div>
			</div>

			<nav class="slides-navigation">
			  <a href="#" class="next"></a>
			  <a href="#" class="prev"></a>
			</nav>

		</div>

		<div class="container header slider-home">

			<div class="header-text">
				<ul class="text-slider">
                    {% for item in slogan %}
                        <li class="text-slides">{{item.text}}</li>
                    {% endfor %}
				</ul>
			</div><!-- end text slider -->
			<!-- Social Media Links -->
			<div class="social-media">
				<h4></h4>
				<ul class="social-links">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div><!-- end social media links -->
			<a href="#about" class="header-down-arrow scroll link"></a>
		</div><!-- end header container -->
	</section><!-- end home section -->

	<!-- About Section -->
	<section id="about" class="section" >
		<div class="container" style="padding-bottom: 30px;padding-top: 40px;">
			<h2 class="title animated" data-animate="bounceIn" data-animate-delay="400" style="margin-bottom:45px;">
				{% trans "درباره گواراب" %}
				<hr class="hr">
			</h2>
			<h5 class="subtitle">{% trans "شرکت گواراب سازان دشت سبز که بطور کلّی ساختار خویش را بر فعّالیّت در صنعت تصفیه ی آب؛ با همه ی گرایش های تخصّصی و مؤلّفه های علمی دربرگیرنده ی این صنعت، طرح ریزی کرده است، در تدوین چشم انداز، اهداف کلان و راه های دستیابی به آن ها و در همه جای فعّالیّت خویش از تأمین موادّ اوّلیّه تا تولید محصولات نهایی و از مستندسازی تا اجرای فرایندهای متعدّد سازمانی و از تأمین و آموزش نیروهای انسانی تا شاخص های انتخاب منابع برون سازمانی مانند شعب و نمایندگان فروش و خدمات پس از فروش و نیز فعّالیّت های برون سپاری شده مانند صنایع میانی، نصّاب ها و عوامل لجستیک، به رویکردهای ذیل که نقشی ارزشی و غیر قابل اغماض دارد پایبندی کامل دارد:" %}</h5>
			<div class="four columns animated" data-animate="bounceInLeft" data-animate-delay="400">
				<div class="icon-box"><i class="fa fa-mail-reply-all fa-3x"></i></div>
				<h4>{% trans "پاسخگویی" %}</h4>
				<p>
						{% trans "در شرکت گواراب سازان دشت سبز، مسؤولیّت ها به نحوی مستند، آموزش و پایش شده اند که چه در فرایندهای درون سازمانی و چه فرایندهای مرتبط با مشتری، پاسخگویی به عنوان یک رویکرد راهبردی و در جهت بهبود اثربخش کار تعریف شده است." %}
				</p>
			</div>
			<div class="four columns animated" data-animate="bounceInLeft" data-animate-delay="200">
				<div class="icon-box"><i class="fa fa-heart fa-3x"></i></div>
				<h4>{% trans "خدمات" %}</h4>
				<p>
					{% trans "شرکت گواراب سازان دشت سبز در رویکرد ارزشی خود، برخورداری مشتریان را نه تنها به بایسته های خدمات مرتبط با محصولات خویش مانند پاسخگویی اثربخش و ضمانت معتبر رسمیّت سازمانی داده است بلکه افزایش دانش و آگاهی از صنعت آب را بخصوص در زمینه ی آب شرب و استانداردهای لازم آن و نیز آنچه که برای مصرف کنندگان این مادّه حیاتی تصمیم سازی می نماید در زمره ی خدمات خویش می داند." %}
				</p>
			</div>
			<div class="four columns animated" data-animate="bounceInRight" data-animate-delay="200">
				<div class="icon-box"><i class="fa fa-search fa-3x"></i></div>
				<h4>{% trans "پژوهش و توسعه" %}</h4>
				<p>
				{% trans "این شرکت در راستای پیشرفت تمام علوم و صنایع، بر خود می داند نسبت به شناسایی آنچه کیفیّت ضروری ترین نیاز زیستی مصرف کنندگان را داراست مطالعه نماید؛ مطالعه ای که طبق هدف گذاری واحد R&D منجر به طرح های قابل اجرای صنعتی گردد. مصرف کنندگان محصولات این شرکت از چنان ارزشی برخوردازند که سهمی از فروش شرکت صرف مطالعه، طراحی و ساخت ملزومات ارتقایی کیفیّت آب مصرفی ایشان گردد." %}
				</p>
			</div>
			<div class="four columns animated" data-animate="bounceInRight" data-animate-delay="400">
				<div class="icon-box"><i class="fa fa-eye fa-3x"></i></div>
				<h4>{% trans "کیفیّت" %}</h4>
				<p>
					{% trans 'کیفیّت به عنوان یکی از اصلی ترین و قدرتمندترین فرایندهای سازمانی این شرکت، تصمیم سازی کار، ابزارهای پایش و کنترل دائمی، اقدامات اصلاحی و بهبود مستمرّ را در کلّیه ی مراحل پیش، حین و پس از تولید ایجاد می کند.' %}
				</p>
			</div>
		</div><!-- end container -->
	</section><!-- end about section -->

	
	<!-- Testimonials -->
	<section class="testimonials parallax1" style="padding-bottom:0px;">

	<!-- Callout Title -->
	<section class="callout" style="margin-bottom:0px;">
		<div class="container container-title">
			<h3 class="animated" data-animate="bounceInDown" data-animate-delay="300">
				{% trans 'چشم انداز شرکت ' %}
				<hr class="hr">
			</h3>
		</div><!-- end container -->
	</section><!-- end callout title -->

		<div class="container" style="padding-bottom: 10px;padding-top: 40px;">
			<div class="testimonial-slider">
				<!-- Testimonial 1 -->
				<div>
					<h4 style="text-align: initial;">{% trans 'تا پایان سال ۱۳۹۸، ارائه دهنده محصولات و خدمات با مزیت رقابتی ویژه در کشور و وسعت بخشی به قلمروی حضور در خارج از مرزهای کشور و تبدیل شدن به شرکتی سرآمد و جهانی در صنعت پالایش آب باشیم بطوریکه نام تجاری شرکت در بازارهای منطقه همواره مورد توجه قرار گیرد.' %}
					</h4>
				</div>
				<!-- Testimonial 2 -->
			</div><!-- end testimonials list -->
		</div><!-- end container -->
	</section><!-- end testimonials -->

	<!-- Services Section -->
	<section id="services" class="section">
		<div class="container" >
			<div id="service-img" class="eight columns alpha left-align animated" data-animate="bounceInLeft" data-animate-delay="400" >
				<img src="{% static 'images/deram.jpg' %}" alt="Service Image" class="scale-with-grid mockup" title="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which"  />
			</div><!-- end ipad mockup -->

			<div id="serv" class="eight columns omega left-align">
				<h3 class="title animated" data-animate="bounceInRight" data-animate-delay="400" style="color: #07507F;">
					{% trans 'درباره درم' %}
					<hr class="hr-next">
				</h3>
				<h5 class="subtitle">{% trans 'شرکت گواراب سازان دشت سبز دارای پروانه بهره برداری شماره ی … از سازمان صنعت، معدن و تجارت، فیلترهای کربنی خود را با شناسه ی صنعتی (برند) درم عرضه می نماید. محصولاتی که تاکنون تحت این  برند تولید شده اند همگی دارای کد انحصاری ایران در زمره کالاهای ثبت شده در سازمان ایران کد هستند. برند درم در داخل و خارج از کشور ثبت شده و شرکت گواراب سازان دشت سبز صاحب امتیاز مادّی و معنوی آن است و حقّ تولید صنعتی این محصول با برند درم فقط و فقط در انحصار این شرکت می باشد. بنابراین هرگونه کپی برداری، تولید و توزیع محصولات شرکت توسطّ اشخاص حقیقی یا حقوقی با این شناسه ی صنعتی غیر مجاز و پیگرد قانونی دارد.' %}</h5>
			</div><!-- end eight col accordion section -->

		</div><!-- end container -->

		<section id="Mission-list" class="services-list parallax2" style="padding-bottom: 0;padding-top:0px;">
			<section class="callout" style="margin-bottom:0px;">
				<div class="container container-title">
					<h3 class="animated" data-animate="bounceInDown" data-animate-delay="300" style="font-size: 32px;">
						{% trans 'مأموریت گواراب' %}
						<hr class="hr">
					</h3>
				</div><!-- end container -->
			</section>
			<div class="container" style="padding-bottom: 0px;padding-top: 40px;">
				<div class="row">
					<h6 style="text-align:inherit;">{% trans 'در افق این سند تا پایان سال ۱۳۹۸، ماموريت شرکت گواراب به شرح زیر است:' %}
					</h6>
				</div>
				<div class="row">
					<div class="four columns animated service-item" data-animate="bounceInLeft" data-animate-delay="300">
						<i class="fa fa-cloud fa-3x tipped" data-title="{% trans 'فناوری' %}"></i>
						<h5>{% trans 'فناوری' %}</h5>
						<p>
							{% trans 'از این نظر شركت همواره اقدام به پایش مستمر فناوری های روز محصولات و فرایندهای تولید نموده و توسعه و بهبود محصولات و بومی سازی تولید ماشین آلات تولیدی با رویکرد مکانیزه نمودن تولید و افزایش بهره وری تولید را سرلوحه کار خود قرار می دهد.' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceIn" data-animate-delay="300">
						<i class="fa fa-exchange fa-3x tipped" data-title="{% trans 'بازارها' %}"></i>
						<h5>{% trans 'بازارها' %}</h5>
						<p>
							{% trans 'ما با تمام توان مي‏كوشيم شركت گواراب را در صحنه رقابت جهاني موفق كنيم. بازارهای مد نظر شرکت در افق این ماموریت عبارتند از: بازار ایران، شمال آفریقا، خاور میانه و اروپا' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceIn" data-animate-delay="300">
						<i class="fa fa-tags fa-3x tipped" data-title="{% trans 'محصولات يا خدمات' %}"></i>
						<h5>{% trans 'محصولات يا خدمات' %}</h5>
						<p>
							{% trans ' انواع فیلترهای کربنی، انواع فیلترهای الیافی، تولید کربن اکتیو، تولید انواع دستگاه های تصفیه آب، خدمات آزمایشگاهی، ارایه مشاوره های فنی و مهندسی، تولید محصولاتي با كيفيت بسيار بالا از لحاظ ویژگی های عملکردی، سلامتی و ایمنی و ظاهری متناسب با آب منطقه با استفاده از مواد اولیه متناسب با سلامت آب شرب.' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceInRight" data-animate-delay="300">
						<i class="fa fa-users fa-3x tipped" data-title="{% trans 'مشتريان' %}"></i>
						<h5>{% trans 'مشتريان' %}</h5>
						<p>
						{% trans 'ما بر اين باوريم كه پيش از هر چيز در برابر نیازهای حال و آینده مشتریان و سلامت جامعه ملی و جهانی مسئول هستیم و خود را پاسخگوی مشتریان در قبال محصولات و خدمات خود می دانیم و احترام به مشتریان و جلب اعتماد آنها را سر لوحه کار خود قرار می دانیم و به دنبال خلق مشتریان وفادار از طریق ارزش آفرینی پایدار برای آنها هستیم.' %}
						</p>
					</div>
				</div><!-- end row -->
				<div class="row">
					<div class="four columns animated service-item" data-animate="bounceInLeft" data-animate-delay="300">
						<i class="fa fa-male fa-3x tipped" data-title="{% trans 'توجه به كاركنان' %}"></i>
						<h5>{% trans 'توجه به كاركنان' %}</h5>
						<p>
							{% trans 'آموزش ‏دادن؛ ايجاد انگيزه؛ حفظ و نگهداري كاركناني كه از نظر توانايي، اخلاق و تعهد به سازمان داراي ويژگي ممتاز هستند؛ ایجاد محيط كار مناسب؛ جبران خدمت بر مبناي عملكرد جهت رشد و تأمين امنيت شغلي براي كاركنان؛ایجاد حس تعلق به سازمان و حس افتخار نسبت به کار در شرکت.' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceIn" data-animate-delay="300">
						<i class="fa fa-file-text fa-3x tipped" data-title="{% trans 'ويژگي های ممتاز' %}"></i>
						<h5>{% trans 'ويژگي های ممتاز' %}</h5>
						<p>
							{% trans 'توان علمی و دانش فنی و توانايي‏هاي خلاق و سازنده مدیران؛پایبندی به مباحث کیفی محصولات و مشتری مداری برای حفظ فاصله از رقبا؛ توانمندی در تولید محصولات متنوع؛' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceIn" data-animate-delay="300">
						<i class="fa fa-flag fa-3x tipped" data-title="{% trans 'فلسفه' %}"></i>
						<h5>{% trans 'فلسفه' %}</h5>
						<p>
							{% trans 'ما بر اين باوريم كه حرکت در جهت سلامت انسانها از ارزشمندترين هدفهاي بشریت است و فلسفه گواراب در اين جمله خلاصه مي‏شود: تقويت روح مشاركت صنعتگر، ایده پرداز و بازاریاب و توجه به مكاني كه افراد بتوانند دانش كسب و تولید كنند، تجربه بياموزند و وقت خود را با مسرت و خوشي بگذرانند.' %}
						</p>
					</div>
					<div class="four columns animated service-item" data-animate="bounceInRight" data-animate-delay="300">
						<i class="fa fa-rocket fa-3x tipped" data-title="{% trans 'توجه به بقا، رشد و سودآوري' %}"></i>
						<h5>{% trans 'توجه به بقا، رشد و سودآوري' %}</h5>
						<p>
							{% trans 'از اين نظر شركت عمليات خود را با احتياط انجام مي‏دهد و ميزان سود و رشد خود را به‏ گونه‏ اي تنظيم مي‏نمايد كه در نهايت موفقيت بلند مدت تضمين شود. به عبارت دیگر شركت با چشم داشتي به سودي منصفانه، مي‏كوشد به‏گونه‏اي كه منافع مشتريان، كاركنان، سهامداران،تامین کنندگان و جامعه تأمين شود.' %}
						</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end parallax section -->
	</section><!-- end services section-->

	<!-- Portfolio Section -->
	<section id="products" class="section">

		<div class="container" id="portfolio-title">
			<h2 class="title animated" data-animate="bounceIn" data-animate-delay="400" style="color: #2a8cb6;">
				{% trans 'محصولات گواراب' %}
				<hr class="hr">
			</h2>
		</div><!-- end portfolio title container -->

		<div class="container" style="padding-top: 30px;">

			<!-- Portfolio Filters -->
			<div id="options" class="filter-menu">
				<ul id="filters" class="option-set" data-option-key="filter">
					<li><a href="#filter" data-option-value="*" class="selected">{% trans 'همه' %}</a></li>
					{% for item in productCategory %}
                        <li><a href="#filter" data-option-value=".{{ item.id }}">{{ item.name }}</a></li>
                    {% endfor %}
				</ul>
			</div>

			<!-- Portfolio Items -->
			<div class="portfolio-items">
				{% for product in products %}
					<div class="item four columns {{ product.category.id }}">
						<a href="product-details/{{ product.id }}">
							<img src="/media/{{ product.small_img }}" alt="{{ product.name }}" />
							<div class="mask"></div>
							<h5>{{ product.name }}</h5>
						</a>
					</div>
				{% endfor %}

			</div><!-- end portfolio items -->
		</div><!-- end container -->
	</section><!-- end portfolio section -->

	<section id="FAQ" class="section accordion parallax4">
		<section class="callout" style="margin-bottom:0px;">
			<div class="container" style="padding-bottom: 20px;">
				<h3 class="animated" data-animate="bounceInDown" data-animate-delay="300" style="font-size: 32px;">{% trans 'سؤالات متداول' %}<hr class="hr">
				</h3>
			</div><!-- end container -->
		</section>
		<div class="container" style="padding-top: 20px;">

			<!--<div class="eight columns animated" data-animate="bounceInLeft" data-animate-delay="400">
				<img src="{% static 'images/faq.jpg' %}" alt="iPad Image" class="scale-with-grid mockup" />
			</div> end ipad mockup -->

			<div id="question" class="eight columns accordion-container">
				<h4 class="subtitle" style="margin-bottom: 30px;padding-top: 45px;">{% trans 'پرسش های مشتریان و پاسخ آنها' %}</h4>

				{% for faq in FAQs %}
					{% if forloop.first %}
						<div class="accordion-button"><i class="fa fa-arrow-circle-o-down fa-lg"></i>{{ faq.question }}</div>
						<div class="accordion-content active">
							<p>
								{{ faq.answer }}
							</p>
						</div>
					{% else %}
						<div class="accordion-button"><i class="fa fa-arrow-circle-o-right fa-lg"></i>{{ faq.question }}</div>
						<div class="accordion-content">
							<p> {{ faq.answer }} </p>
						</div>
					{% endif %}
				{% endfor %}

			</div><!-- end eight col accordion section -->

		</div><!-- end container -->
	</section><!-- end accordion section -->

		<!-- Portfolio Section -->
	<section id="gallery" class="section">

		<div class="container" style="padding-bottom:20px;">
			<h2 id="gallery-title" class="title animated" data-animate="bounceIn" data-animate-delay="400" style="color: #2a8cb6;">
				{% trans 'گالری تصاویر' %}
				<hr class="hr">
			</h2>
		</div><!-- end portfolio title container -->

		<div class="container" style="padding-top:0;">

			<!-- Portfolio Items -->
			<div class="portfolio-items">

				{% for item in gallery %}
					<div class="item four columns">
						<a href="/media/{{ item.small_img }}" data-rel="prettyPhoto[gallery]">
							<img src="/media/{{ item.large_img }}" alt="{{ item.alt }}" />
							<div class="mask"></div>
							<h5>{{ item.alt }}</h5>
						</a>
					</div>
				{% endfor %}

			</div><!-- end portfolio items -->
		</div><!-- end container -->
	</section><!-- end portfolio section -->

	<section class="static-testimonial parallax5">
		<div class="container">
			<blockquote>
				<i class="fa fa-quote-left"></i>
				<i class="fa fa-quote-right"></i>
				<span style="font-size:26px;padding: 3px 30px;">{% trans 'ما اکنون می توانیم با معتبرترین شرکتهای عرصه آب دنیا بر سر کیفیت محصول و خدمات خود به رقابت بپردازیم' %}</span>
			</blockquote><!-- end quote -->
		</div><!-- end container -->
	</section><!-- end static testimonial section -->

	<section id="team" class="section">
		<div class="container" style="padding-bottom:0px;">
			<h2 class="title" style="color: color: #2a8cb6;">
				{% trans 'اعضای تیم فنی' %}
				<hr class="hr">
			</h2>
		</div>
		<div class="container">
			{% for member in team %}
				<div class="four columns team animated" data-animate="bounceIn" data-animate-delay="400">
					<div class="team-photo">
						<img src="/media/{{ member.image }}" alt="{{ member.name }}" class="scale-with-grid" style="width:100%;">
						<div class="mask"></div>
						<h5>{% trans 'ارتباط با ' %} {{ member.name }}</h5>
						<ul class="team-social-links">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div><!-- end team photo -->

					<h4>{{ member.name }}</h4>
					<h6>{{ member.post }}</h6>

				</div><!-- end team column -->
			{% endfor %}

		</div><!-- end container -->
	</section><!-- end team section -->
		
	<!-- Google Map -->
	<section id="map" class="section">

		<!-- Callout Title -->
		<section class="callout" >
			<div class="container">
				<h2 class="animated" data-animate="bounceIn" data-animate-delay="300" style="color:#fff;">
					{% trans 'تماس با ما' %}
					<hr class="hr">
				</h2>
			</div>
		</section><!-- end callout title -->

		<div id="google-map">
			<iframe marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209961.59360736088!2d50.71197817334581!3d34.688784481321996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f93bb6eb88ce195%3A0xcc35bec1c2604470!2sQom%2C+Qom+Province!5e0!3m2!1sen!2sir!4v1495482575764" frameborder="0" height="400" width="100%"></iframe>
		</div>
	</section><!-- end map section -->

	<section id="footer-top" class="section">
		<div class="container">
			<ul class="social-links">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul><!-- end social links -->
			 {% trans '025 - 36647647' %} &nbsp;| &nbsp; {% trans '0912 651 2267' %}<br />
			@gowarab | <a href="#" style="font-family: 'Lato', sans-serif;">Info@Gowarab.com</a>
			<br><span>{% trans 'قم، کیلومتر ۴ جاده قدیم قم-تهران، جنب مجتمع بعثت' %}</span>
		</div><!-- end container -->
	</section><!-- end footer top section -->

	<section id="footer-bottom" class="section">
		<div class="container">
			<a href="/" class="scroll button-to-top">
					<i class="fa fa-angle-double-up"></i>
				</a>
			<h2>{% trans 'GOWARAB' %}</h2>
			<p style="text-align:center;"><span class="color" style="font-family:'Segoeui', 'Lato', sans-serif;color: #add92d;">
				 2017 &copy; All rights reserved </span></p>
		</div><!-- end container -->
	</section><!-- end footer bottom section -->

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/navigation.js' %}"></script>
	<script>
		function myMap() {
		  var myCenter = new google.maps.LatLng(34.918398, 50.821748);
		  var mapCanvas = document.getElementById("google-map");
		  var mapOptions = {center: myCenter, zoom: 5};
		  var map = new google.maps.Map(mapCanvas, mapOptions);
		  var marker = new google.maps.Marker({position:myCenter});
		  marker.setMap(map);

		  google.maps.event.addListener(marker,'click',function() {
			var pos = map.getZoom();
			map.setZoom(14);
			map.setCenter(marker.getPosition());
			window.setTimeout(function() {map.setZoom(pos);},3000);
		  });
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
{% endblock %}
